USE [master]
GO
/****** Object:  Database [AnalCredi]    Script Date: 03/11/2026 10:07:56 p. m. ******/
CREATE DATABASE [AnalCredi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AnalCredi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\AnalCredi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AnalCredi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\AnalCredi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AnalCredi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AnalCredi]
GO
/****** Object:  Table [dbo].[capacidad_legal]    Script Date: 03/11/2026 10:07:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[capacidad_legal](
	[ID_Entidad] [nvarchar](50) NOT NULL,
	[Ahorro] [float] NULL,
	[Prestamo] [float] NULL,
 CONSTRAINT [PK_Capacidad_legal] PRIMARY KEY CLUSTERED 
(
	[ID_Entidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Descuentos_Clientes]    Script Date: 03/11/2026 10:07:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Descuentos_Clientes](
	[ID_descuento] [int] NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[Prestamo] [money] NULL,
	[Ahorro] [money] NULL,
 CONSTRAINT [PK_Descuentos_Clientes] PRIMARY KEY CLUSTERED 
(
	[ID_descuento] ASC,
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Historial_Credit]    Script Date: 03/11/2026 10:07:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Historial_Credit](
	[ID_xcredits] [int] NOT NULL,
	[ID_Cliente] [int] NOT NULL,
	[Tipo_Prestamo] [varchar](50) NOT NULL,
	[Monto_Actual] [money] NULL,
	[Monto_Final] [money] NULL,
	[Fecha_Inicio] [date] NOT NULL,
	[Fecha_Final] [date] NULL,
	[Forma_Pago] [nchar](10) NULL,
	[Cuotas] [int] NULL,
	[Status] [nchar](10) NOT NULL,
	[Historial] [nvarchar](50) NULL,
 CONSTRAINT [PK_Historial_Credit] PRIMARY KEY CLUSTERED 
(
	[ID_xcredits] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Informacion_General]    Script Date: 03/11/2026 10:07:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Informacion_General](
	[ID_Cliente] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Sexo] [nchar](10) NULL,
	[Fecha_Nacimiento] [date] NULL,
	[Cargo] [nvarchar](50) NULL,
	[Entidad_type] [nvarchar](50) NOT NULL,
	[Salario_Mensual] [money] NULL,
	[Años_servicios] [int] NULL,
 CONSTRAINT [PK_Informacion_General_1] PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[capacidad_legal] ([ID_Entidad], [Ahorro], [Prestamo]) VALUES (N'Jubilado', 0.5, 0.5)
INSERT [dbo].[capacidad_legal] ([ID_Entidad], [Ahorro], [Prestamo]) VALUES (N'Privada', 0.5, 0.2)
INSERT [dbo].[capacidad_legal] ([ID_Entidad], [Ahorro], [Prestamo]) VALUES (N'Publica', 0.75, 0.35)
GO
INSERT [dbo].[Descuentos_Clientes] ([ID_descuento], [ID_Cliente], [Prestamo], [Ahorro]) VALUES (1, 1, 43.2100, 32.1200)
INSERT [dbo].[Descuentos_Clientes] ([ID_descuento], [ID_Cliente], [Prestamo], [Ahorro]) VALUES (2, 1, 30.0000, 14.0000)
INSERT [dbo].[Descuentos_Clientes] ([ID_descuento], [ID_Cliente], [Prestamo], [Ahorro]) VALUES (3, 1, 310.0000, 21.0000)
GO
INSERT [dbo].[Historial_Credit] ([ID_xcredits], [ID_Cliente], [Tipo_Prestamo], [Monto_Actual], [Monto_Final], [Fecha_Inicio], [Fecha_Final], [Forma_Pago], [Cuotas], [Status], [Historial]) VALUES (1, 1, N'Personal  ', 20000.0000, 18000.0000, CAST(N'2018-12-29' AS Date), NULL, N'Directo   ', 129, N'Activo    ', N'11111111111')
INSERT [dbo].[Historial_Credit] ([ID_xcredits], [ID_Cliente], [Tipo_Prestamo], [Monto_Actual], [Monto_Final], [Fecha_Inicio], [Fecha_Final], [Forma_Pago], [Cuotas], [Status], [Historial]) VALUES (2, 1, N'Automovil ', 24000.0000, 0.0000, CAST(N'2017-04-19' AS Date), CAST(N'2024-12-01' AS Date), N'Ventanilla', 60, N'Cancelado ', N'11111111111')
INSERT [dbo].[Historial_Credit] ([ID_xcredits], [ID_Cliente], [Tipo_Prestamo], [Monto_Actual], [Monto_Final], [Fecha_Inicio], [Fecha_Final], [Forma_Pago], [Cuotas], [Status], [Historial]) VALUES (3, 2, N'Personal  ', 10000.0000, 9000.0000, CAST(N'2019-08-20' AS Date), NULL, N'Directo   ', 40, N'Activo    ', N'11111111111')
GO
INSERT [dbo].[Informacion_General] ([ID_Cliente], [Nombre], [Apellido], [Sexo], [Fecha_Nacimiento], [Cargo], [Entidad_type], [Salario_Mensual], [Años_servicios]) VALUES (1, N'Raul', N'Cortes', N'Masculino ', CAST(N'2000-12-12' AS Date), N'Asistente', N'Publica', 1000.0000, 3)
INSERT [dbo].[Informacion_General] ([ID_Cliente], [Nombre], [Apellido], [Sexo], [Fecha_Nacimiento], [Cargo], [Entidad_type], [Salario_Mensual], [Años_servicios]) VALUES (2, N'Maria', N'Sanjur', N'Femenino  ', CAST(N'1999-03-12' AS Date), N'Analista I', N'Publica   ', 900.0000, 1)
INSERT [dbo].[Informacion_General] ([ID_Cliente], [Nombre], [Apellido], [Sexo], [Fecha_Nacimiento], [Cargo], [Entidad_type], [Salario_Mensual], [Años_servicios]) VALUES (3, N'Carlos', N'Hernandez', N'Masculino ', CAST(N'2001-04-29' AS Date), N'Contador', N'Publica   ', 1200.0000, 5)
GO
/****** Object:  Index [IX_Informacion_General]    Script Date: 03/11/2026 10:08:00 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Informacion_General] ON [dbo].[Informacion_General]
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
